{% extends "./plantilla.html" %}
{% block body %}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
            <div class="col-md-4">
                <h1>Nuevo Genero</h1>
                <form action="{% url 'guardarGenero' %}" enctype="multipart/form-data" id="frm_nuevo_genero" method="post">
                    {% csrf_token %}
                    <label for=""><b>Nombre:</b></label>
                    <input type="text" name="nombre" class="form-control" id="nombre" placeholder="Ingrese nombre del Genero">
                    <br>
                    <label for=""><b>Descripcion:</b></label>
                    <textarea name="descripcion" id="descripcion" class="form-control" id="descripcion" placeholder="Ingrese la descripcion"></textarea>
                    <br>
                    <label for=""><b>Fotografia:</b></label>
                    <input type="file" name="foto" id="foto" accept="image/*" class="form-control" required>
                    <br>
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="{% url 'listadoGeneros' %}" class="btn btn-secondary">Cancelar</a>
                </form>
            </div>
    </div>
</div>
<br><br><br><br>

<script>
    $("#frm_nuevo_genero").validate({
        rules: {
            nombre:{
                required: true,
                minlength: 3,
                maxlength:30
            },
            descripcion:{
                required: true,
            },
            foto:{
                required: true,
            }
            },
        messages:{
            nombre:{
                required: "Por favor ingrese el nombre",
                minlength: "Por favor almenos ingrese 3 palabras",
                maxlength: "Se a excedido "
            },
            descripcion:{
                required: "La descripcion es obligataria"
            },
            foto:{
                required: "Seleccione la foto"
            } 
        }
    });
</script>
<script>
    $(document).ready(function(){
        $("#foto").fileinput({
            showBrowse: true,
            browseOnZoneClick: true
        });
    });
</script>

{% endblock %}